<!-- Results for favourite team vs chosen rival  -->
<div class="container">

  <section id="rivalGames">

    <table style="text-align: center;">
      <th colspan="5" *ngIf="favouriteTeam && rivalTeam; else elseBlock">{{favouriteTeam.name}} vs {{rivalTeam.name}} games this season<br><br></th>
      <tr>
        <th>Round</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Score</th>
        <th>Winner</th>
      </tr>
      <tr *ngFor="let game of rivalGames">
        <td>{{game.round}}</td>
        <td>{{game.hteam}}</td>
        <td>{{game.ateam}}</td>
        <td>{{game.round < 20 ? game.hscore-game.ascore:null}}</td>
        <td>{{game.round < 20 ? game.winner:null}}</td>
        <ng-template #notPlayed>
          
        </ng-template>
      </tr>
    </table>
  
  </section>
</div>

<ng-template #elseBlock>
  <th colspan="5">Please select a favourite and rival team then navigate back here<br><br></th>
</ng-template>
