<!-- Results for favourite team in each completed round  -->
<div class="container">
  <section id="nextFive">

    <table style="text-align: center;">
      <th colspan="4" *ngIf="favouriteTeam; else elseBlock">Next 5 games for {{favouriteTeam.name}}<br><br></th>
      <tr>
        <th>Round</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let game of nextFiveGames">
        <td *ngIf="game.round < 25">{{game.round}}</td>
        <td *ngIf="game.round < 25">{{game.hteam}}</td>
        <td *ngIf="game.round < 25">{{game.ateam}}</td>
        <td *ngIf="game.round < 25">{{game.date | date:'medium'}}</td>
      </tr>
    </table>
  
  </section>
</div>

<ng-template #elseBlock>
  <th colspan="4">Please select a favourite team then navigate back here<br><br></th>
</ng-template>