.dropDownNavBar td { position: relative; }

.dropDownNavBar table,
.dropDownNavBar td { 
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
    left: 0;
}

.dropDownNavBar td:hover table { display: table-cell; /* or display: block; */ }
.dropDownNavBar td:hover ul { display: block; }
