<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>





<div style="display: flex;">
	<!-- Top -->
	<header>
        <!-- Toolbar with logos -->
				<div class="toolbar" role="banner">
		 		  <input class = "teamLogo"  *ngFor="let team of teams" value="{{team.name}}" type = "image"  (click)="onSelect(team)"
			  		 src="https://squiggle.com.au{{team.logo}}"
			  		 title = {{team.name}}  alt = {{team.name}}>
				   </div>

		<!--navbar-->
	
			<ul id="navigation_bar">
			
				<li> <div class ="logo">
					<a routerLink="/view-user-stories"> <img width="40" alt="AFL Logo" 
						src="https://resources.afl.com.au/photo-resources/2019/12/05/9afccce2-87db-4a20-abcc-0c62c6516b3d/afl-logo.png?width=1200&height=630"></a></div>
				<li><a  routerLink="/home-page">User Story 1</a></li>
				<li><a  routerLink="/view-next-game-prediction">User Story 2</a></li>
				<li><a  routerLink="/view-team-season-results">User Story 3</a></li>
				<li><a  routerLink="/view-next-five-games">User Story 4</a></li>
				<li><a  routerLink="/view-venues-won">User Story 5</a></li>
				<li><a  routerLink="/view-rival-games">User Story 6</a></li>
				<li><a  routerLink="/view-point-diff">User Story 7</a></li>
				<li><a  routerLink="/view-low-avg-max">User Story 8</a></li>

			</ul>
	
	</header>

	<br> <br>

	
	

  <!-- Sidebar -->
	<aside style="width: 30%;  margin-top: 20px; margin-left: 150px; margin-right:0px;">
		<div class = "container">
         <!-- Favourite Team card --> 
		 <div *ngIf="favouriteTeam; else elseBlock">
				<section id = favouriteTeamCard> 
					<div class = "card text-center" style="width: 18rem;">
					  <div class="card-header" style="background-color:#333; color: white; ">Favourite Team</div>
				
						<div class="avatar mx-auto white"><br><img src="https://squiggle.com.au{{favouriteTeam.logo}}"></div>
							<div class ="card-body">
								<h5 class="font-weight-bold text-uppercase mb-3">
								{{favouriteTeam.name}}
								</h5><hr>
								<p class="card-text"> You've selected your favourite team. 
								</p>
								<input class = "teamLogo"  *ngFor="let team of teams" value="{{team.name}}" type = "image"  (click)="onSelect(team)"
								src="https://squiggle.com.au{{team.logo}}"
								title = {{team.name}}  alt = {{team.name}}>
							</div>
						</div>
					</section>
		</div>
		

				<!-- if they haven't selected their favourite team -->
						<ng-template #elseBlock> 
							<section id = favouriteTeamCard> 
								<div class = "card text-center" style="width: 18rem;">
								  <div class="card-header" style="background-color:#333; color: white; ">Favourite Team</div>
									<div class="avatar mx-auto white">
									<img src="https://resources.afl.com.au/photo-resources/2019/12/05/9afccce2-87db-4a20-abcc-0c62c6516b3d/afl-logo.png?width=240&height=126"></div>
								<div class ="card-body">
								<h5 class="font-weight-bold text-uppercase mb-3">
								Pick your favourite Team!
								</h5><hr>
								<p class="card-text">
									<input class = "teamLogo"  *ngFor="let team of teams" value="{{team.name}}" type = "image"  (click)="onSelect(team)"
									src="https://squiggle.com.au{{team.logo}}"
									title = {{team.name}}  alt = {{team.name}}>
								
				   			
							 
								</p>
							</div>
						</div>
						</section>
						</ng-template>
											
			<br> <br>

		
			<div *ngIf="rivalTeam">
				<section id = rivalTeamCard>
				  <div class = "card text-center" style="width: 18rem;">
					<div class="card-header" style="background-color:#333; color: white; ">Rival Team</div>
				
					  <div class="avatar mx-auto white"><br><img src="https://squiggle.com.au{{rivalTeam.logo}}"></div>
						<div class ="card-body">
						  <h5 class="font-weight-bold text-uppercase mb-3">
						  {{rivalTeam.name}}
						  </h5><hr>
						  <p class="card-text"> You've selected your team's rival. 
							</p>
							<input class = "teamLogo"  *ngFor="let team of teams" value="{{team.name}}" type = "image"  (click)="clicked(team)"
							src="https://squiggle.com.au{{team.logo}}"
							title = {{team.name}}  alt = {{team.name}}>
						</div>
					  </div>
				
			
				</section>
				
			  </div>
			
			  <div *ngIf="!rivalTeam">
				<section id = rivalTeamCard> 
				  <div class = "card text-center" style="width: 18rem;">
					<div class="card-header" style="background-color:grey; color: white; ">Rival Team</div>
					<div class="avatar mx-auto white">
					<img src="https://resources.afl.com.au/photo-resources/2019/12/05/9afccce2-87db-4a20-abcc-0c62c6516b3d/afl-logo.png?width=240&height=126"></div>
				  <div class ="card-body">
				  <h5 class="font-weight-bold text-uppercase mb-3">
				  Pick your rival Team!
				  </h5><hr>
				  <p class="card-text">
					<input class = "teamLogo"  *ngFor="let team of teams" value="{{team.name}}" type = "image"  (click)="clicked(team)"
					src="https://squiggle.com.au{{team.logo}}"
					title = {{team.name}}  alt = {{team.name}}>

			
				  </p>
				 
				</div>
			  </div>
	  
			  </section>
			</div>
			
			 
		
	</div>
	</aside>

    <!-- Main -->
	<main>		
    <div class="container">

		  <!-- tab content -->
		  <router-outlet></router-outlet>
			  
			
			</div>
				  
	
	
	
	</main>

	
    <footer>
     
    </footer>
</div>






