main {
  width: 100%;
  overflow: auto; 
  margin-top: 20px; 
  margin-right: 20%; 
  margin-left: 0px;
  text-align: center;
}

/* team logo */
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: white;
    font-weight: 600;
  }
  
  .teamLogo {
      display:absolute; 
      text-align: center; 
      box-align: center; 
      border-radius: 50%;	
      height: 30px;
      width: 30px;
      margin: 0 auto; 
      transition: 1s ease-out;
  }
  
  
  .teamLogo:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
  
  .teamLogo::selection{
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); 
  }
  
  /*navbar*/
   
  #navigation_bar {
    list-style-type: none;
    margin: 0;
    position: absolute;
    background-color: #333;
    top: 60px;
    Left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active), .dropdown:hover .dropbtn {
    background-color: #467F95;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  /*Favourite Team Card */ 

  .card-text-center
  {
    padding-left: 50px;
    
  }
