<script src="myScript.js"></script>

<header id="title">Team Explorer Pro</header>
  
  <div>
  	<table class="teamLogosBar">
  	<tr >
			<td *ngFor="let team of teams"><img src="https://squiggle.com.au{{team.logo}}"></td>  		
  	</tr>
  </table>  	
  </div>

  <nav>
  	<table class="navBar">
  	  <tr>
  		  <td id="homeLink">Home</td>
  		  <td id="ladderLink">Ladder</td>
  		  <td id="fixtureLink">Fixture</td>
  		  <td id="teamsLink">Teams</td>
  		  <td id="predLinks">Predictions</td>
  	  </tr>
    </table>
  </nav>
  
  <br><br>

  <div id="compChange"></div>
