<!-- Calculate max score of favourite team -->
<section id="viewMax">
  <table style="text-align: center;">
    <th colspan="4" *ngIf="favouriteTeam; else elseBlock">Max points scored by {{favouriteTeam.name}} this season<br><br></th>
    <tr>
      <th>Round</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Score</th>
    </tr>
    <tr>
      <td>{{games[0].round}}</td>
      <td>{{games[0].hteam}}</td>
      <td>{{games[0].ateam}}</td>
      <td>{{games[0].hscore}}-{{games[0].ascore}}</td>
    </tr>
  </table>
</section>

<ng-template #elseBlock>
  <th colspan="4">Please select a favourite team then navigate back here<br><br></th>
</ng-template>