<!-- Display largest win by a team this season -->
<div class="container">
  <div class="row">
    <div class = "col">
      <section id="pointDiff">
        <table style="text-align: center;">
          <th colspan="4">Largest margin of victory this season<br><br></th>
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
            <th>Pts won by</th>
          </tr>
          <tr>
            <td>{{completedGames[0].hteam}}</td>
            <td>{{completedGames[0].ateam}}</td>
            <td>{{completedGames[0].hscore}}-{{completedGames[0].ascore}}</td>
            <td *ngIf="completedGames[0].hscore > completedGames[0].ascore">{{completedGames[0].hscore-completedGames[0].ascore}}</td>
            <td *ngIf="completedGames[0].ascore > completedGames[0].hscore || completedGames[0].ascore == completedGames[0].hscore" >{{completedGames[0].ascore-completedGames[0].hscore}}</td>
          </tr>
        </table>
      </section>
    </div>
  </div>
</div>

<!-- Display largest wins this season
<div class="container">
  <div class="row">
    <div class = "col">
      <section id="pointDiff">
        <table style="text-align: center;">
          <th colspan="5">Largest margin of victory this season<br><br></th>
          <tr>
            <th>Round</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
            <th>Pts won by</th>
          </tr>
          <tr *ngFor="let game of completedGames">
            <th>{{game.round}}</th>
            <td>{{game.hteam}}</td>
            <td>{{game.ateam}}</td>
            <td>{{game.hscore}}-{{game.ascore}}</td>
            <td *ngIf="game.hscore > game.ascore">{{game.hscore-game.ascore}}</td>
            <td *ngIf="game.ascore > game.hscore || game.ascore == game.hscore" >{{game.ascore-game.hscore}}</td>
          </tr>
        </table>
      </section>
    </div>
  </div>
</div> -->