<div class="container">
<div class="row">
  <div class = "col">
    <section id="roundResults">
      <table style="text-align: center;">
        <th colspan="4">Round 19 Results<br><br></th>
        <tr>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Score</th>
          <th>Winner</th>
        </tr>
        <tr *ngFor="let game of games">
          <td>{{game.hteam}}</td>
          <td>{{game.ateam}}</td>
          <td>{{game.hscore}}-{{game.ascore}}</td>
          <td>{{game.winner}}</td>
        </tr>
      </table>
    </section>
    </div>
<div class="col">
<div class="row">


<!-- next upcoming match -->
<div class="row">
<div class="col">
<aside id="nextUpcomingMatch">
  <table style="text-align: center;">
    <th colspan="4">Upcoming Game<br><br></th>
    <tr>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Venue</th>
      <th>Scheduled Date</th>
    </tr>
    <tr>
      <td>{{upcomingGames[0].hteam}}</td>
      <td>{{upcomingGames[0].ateam}}</td>
      <td>{{upcomingGames[0].venue}}</td>
      <td>{{upcomingGames[0].date | date:'medium'}}</td>
    </tr>
  </table>
</aside>
</div>
</div>
<br><br>

<!-- current ladder before r20 -->
<div class="row">
<div class="col">
<aside id="currentTopEight">
  <table style="text-align: left;">
    <th colspan="2">Current Top 8 Teams<br><br></th>
    <tr>
      <td>1. {{ladder[0].team}}</td>
      <td>5. {{ladder[4].team}}</td>
    </tr>
    <tr>
      <td>2. {{ladder[1].team}}</td>
      <td>6. {{ladder[5].team}}</td>
    </tr>
    <tr>
      <td>3. {{ladder[2].team}}</td>
      <td>7. {{ladder[6].team}}</td>
    </tr>
    <tr>
      <td>4. {{ladder[3].team}}</td>
      <td>8. {{ladder[7].team}}</td>
    </tr>
  </table>
</aside>
</div>
</div>
</div>

<br><br>

</div>
</div>
