
  <table>
    <tr>
      <td>User Story 1</td> <!-- new US -->
      <td>"As a fan, I want the homepage to show a summary of relevant data to current week (ladder, round results, upcoming match)"</td>
    </tr>
    <tr>
      <td>User Story 2</td>
      <td>“As a fan, I want to see the prediction that my team will win their next game”</td>
    </tr>
    <tr>
      <td>User Story 3</td>
      <td>“As a fan, I want to see the results of all games my team has played this season”</td>
    </tr>
    <tr>
      <td>User Story 4</td>
      <td>“As a fan, I want to see opponent and games details for the next 5 matches my team will play”</td>
    </tr>
    <tr>
      <td>User Story 5</td>
      <td>“As a fan, I want to see all the venues where my team has won so far this season”</td>
    </tr>
    <tr>
      <td>User Story 6</td>
      <td>“As a fan, I want to see the head-to-head games and if available, results between my team and my team’s rival this season”</td>
    </tr>
    <tr>
      <td>User Story 7</td> <!-- new US -->
      <td>"As a fan, I want to see the highest amount of points my favourite team has scored in a game this season"</td>
    </tr>
    <tr>
      <td>User Story 8</td> <!-- new US -->
      
      <td>"As a fan, I want to see the results of the game this season which had the largest point difference"</td>
    </tr>

  </table>
